.leftSidePanel {
  background: white;
  width: 23vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  padding: 1.5% 1.5% 1.5% 1.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative; 
}

.floatingButton {
  position: absolute;
  bottom: 20px; 
  right: 20px; 
  background-color: #16008B;
  border: none;
  border-radius: 50%;
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  cursor: pointer;
}

.createNotesGroup {
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notesGroupSlected {
  padding: 5% 3% 3% 3%;
  width: 21vw;
  height: 2.375rem;
  display: flex;
  justify-self: start;
}

@media (max-width: 600px) {
  .leftSidePanel {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .floatingButton {
    height: 50px;
    width: 50px;
  }

  .notesGroupSlected {
    width: 100vw;
    height: 2.375rem;
  }
}
