.leftSidePanel {
  background: #fff;
  width: 23vw;
  height: 98.3vh;
  display: flex;
  flex-direction: column;
  padding: 1.5% 1.5% 1.5% 1.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative; /* Added for positioning the floating button */
}

.floatingButton {
  position: absolute;
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  background-color: #16008B;
  border: none;
  border-radius: 50%; /* Makes the button circular */
  width: 50px; /* Adjust button size */
  height: 50px; /* Adjust button size */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Icon color */
  cursor: pointer;
}

.createNotesGroup {
  display: none; /* Hide this class if it's still referenced */
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notesGroupSlected {
  padding: 5% 3% 3% 3%;
  width: 21vw;
  height: 2.375rem;
  display: flex;
  justify-self: start;
}

@media (max-width: 600px) {
  .leftSidePanel {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .floatingButton {
    width: 50px;
    height: 50px;
  }

  .notesGroupSlected {
    width: 100vw;
    height: 2.375rem;
  }
}
